<nav class="w-full h-16 bg-primary sticky top-0">
  <div class="flex justify-between h-full mx-5 text-white">
    <div class="flex align-center my-auto">
      <a class="font-bold text-2xl tracking-wider" style="font-family: Quicksand">MyTricount</a>
    </div>
    <div class="flex align-center my-auto relative" data-controller="params-popup">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" data-action="click->params-popup#toggle">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
      </svg>
      <div class="absolute right-3 top-4 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1" data-params-popup-target="popup">
        <%= link_to destroy_user_session_path, data: { turbo_method: :delete } , class: "block px-4 py-2 text-sm text-gray-700", role: "menuitem", tabindex: "-1", id: "user-menu-item-2" do %>
          Sign out
        <% end %>
      </div>
    </div>
  </div>
</nav>